In [1]:
#imports several libraries
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
from dotenv import load_dotenv
import os
load_dotenv(dotenv_path='data/.env')

True

In [2]:
#DIR_WORKSPACE = Path.cwd().parent.parent
#DIR_DATA = DIR_WORKSPACE / "data"
#DIR_REPORTS_CSV = DIR_DATA / "csv_files"
#DIR_OUTPUT = DIR_DATA / "master_csv"


# PATH SETUP 
from pathlib import Path

try:
    DIR_WORKSPACE = Path.cwd().parent.parent
    DIR_DATA = DIR_WORKSPACE / "data"
    DIR_OUTPUT = DIR_DATA / "master_csv"
    
    # Create directories if they don't exist
    DIR_OUTPUT.mkdir(parents=True, exist_ok=True)
    
    print("✅ Directories set up successfully:")
    print(f"   Workspace: {DIR_WORKSPACE}")
    print(f"   Data: {DIR_DATA}")
    print(f"   Output: {DIR_OUTPUT}")
    
    # Verify directories exist
    print(f"\n✅ Directory exists: {DIR_WORKSPACE.exists()}")
    print(f"✅ Directory exists: {DIR_DATA.exists()}")
    print(f"✅ Directory exists: {DIR_OUTPUT.exists()}")
    
except Exception as e:
    print(f"❌ Error setting up directories: {e}")

✅ Directories set up successfully:
   Workspace: c:\Users\Geoffrey-RISA\Documents\GitHub
   Data: c:\Users\Geoffrey-RISA\Documents\GitHub\data
   Output: c:\Users\Geoffrey-RISA\Documents\GitHub\data\master_csv

✅ Directory exists: True
✅ Directory exists: True
✅ Directory exists: True

In [3]:
# Reading a CSV file into a pandas DataFrame

df=pd.read_csv(r"C:\Users\Geoffrey-RISA\Documents\GitHub\AIMS-DSCBI-WEEK-3\mse-api-assignment-Geo\data\master_csv\master_csv.csv")

In [4]:
df.head()

,Unnamed: 0,counter_id,daily_range_high,daily_range_low,ticker,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,...,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time,name
0,0,1,138.97,137.94,AIRTEL,0,137.96,138.54,137.98,79004.0,...,1.45,2.81,35.53,47.26,1517780,42722.11,1.100000e+10,9/19/2025,14:37:47,AIRTEL MALAWI PLC
1,1,2,15.02,15.02,BHL,15.02,0,15.02,15.02,7042.0,...,0.00,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,9/19/2025,14:37:47,BLANTYRE HOTELS PLC
2,2,3,637.95,637.91,FDHB,635,637.92,637.95,637.93,101411.0,...,0.74,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,9/19/2025,14:37:47,FDH BANK PLC
3,3,4,1897.99,1897.99,FMBCH,1897.99,0,1897.99,1897.99,15133.0,...,0.19,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,9/19/2025,14:37:47,FMB CAPITAL HOLDINGS PLC
4,4,5,17.94,17.94,ICON,0,17.94,17.94,17.94,18168.0,...,1.62,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,9/19/2025,14:37:47,ICON PROPERTIES PLC

In [5]:
companies={'AIRTEL':'Airtel Malawi plc', 
       'BHL':'Blantyre Hotels Plc', 
       'FDHB':'FDH Bank plc', 
       'FMBCH':'FMB Capital Holdings plc', 
       'ICON':'ICON Properties plc',
       'ILLOVO':'Illovo Sugar Malawi plc', 
       'MPICO':'Malawi Property Investment Company plc',
       'NBM':'National Bank of Malawi',
       'NBS':'NBS Bank plc', 
       'NICO':'NICO Holdings plc',
       'NITL':'National Investment Trust Plc',
       'OMU':'Old Mutual Limited', 
       'PCL':'Press Corporation plc', 
       'STANDARD':'Standard Bank Malawi plc',
       'SUNBIRD':'Sunbird Tourism plc',
       'TNM':'Telekom Networks Malawi plc',
       'OML':'Old Mutual Limited', 
       'MPICO CD':'Malawi Property Investment Company plc',
       'NBM CD':'National Bank of Malawi', 
       'NICO CD':'NICO Holdings plc', 
       'PCL CD':'Press Corporation plc',
       'Standard CD':'Standard Bank Malawi plc',
       'Sunbird CD':'Sunbird Tourism plc',
       'TNM CD':'Telekom Networks Malawi plc', 
       'MPICO TS':'Malawi Property Investment Company plc', 
       'BHL CD':'Blantyre Hotels Plc',
       'BHL XD':'Blantyre Hotels Plc', 
       'NITL XD':'National Investment Trust Plc',
       'NITL CD':'National Investment Trust Plc',
       'NBS TS':'NBS Bank plc', 
       'NICO TS':'NICO Holdings plc', 
       'Sunbird':'Sunbird Tourism plc',
       'PCL TS':'Press Corporation plc',
       'Sunbird H':'Sunbird Tourism plc',
       'SUNBIRD H':'Sunbird Tourism plc',
       'StandardCD':'Standard Bank Malawi plc', 
       'SUNBIRDCD':'Sunbird Tourism plc', 
       'NITL TS':'National Investment Trust Plc',
       'SUNBIRD TS':'Sunbird Tourism plc',
       'TNM TS':'Telekom Networks Malawi plc',
       'NBM XD':'National Bank of Malawi',
       'StandardTS':'Standard Bank Malawi plc',
       'TNM TS XD':'Telekom Networks Malawi plc', 
       'TNM TS CD':'Telekom Networks Malawi plc',
       'FMB CA':'FMB Capital Holdings plc', 
       'Sunbird XD':'Sunbird Tourism plc',
       'PCL XD':'Press Corporation plc',
       'MPICO XD':'Malawi Property Investment Company plc',
       'NICO XD':'NICO Holdings plc',
       'Standard XD':'Standard Bank Malawi plc',
       'TNM XD':'Telekom Networks Malawi plc',
       'FMBTS CA XD':'FMB Capital Holdings plc', 
       'Sunbird TS':'Sunbird Tourism plc',
       'FMBTS CA CD':'FMB Capital Holdings plc', 
       'SunbirdXD TS':'Sunbird Tourism plc',
       'SunbirdCD TS':'Sunbird Tourism plc',
       'NBS-LA*':'NBS Bank plc'}

In [6]:
# def company(row):
#     return companies[row['counter']].upper()
# df['name']=df.apply(company,axis=1)
# df = df.rename(columns={"counter": "ticker"})
# df.head()

In [7]:
df_prices=df.copy()
#df_prices.to_csv(DIR_OUTPUT / r"C:\Users\Geoffrey-RISA\Documents\GitHub\AIMS-DSCBI-WEEK-3\mse-api-assignment-Geo\data\master_csv\site_data.csv")

In [8]:
df=pd.read_csv( r"C:\Users\Geoffrey-RISA\Documents\GitHub\AIMS-DSCBI-WEEK-3\mse-api-assignment-Geo\data\master_csv\site_data.csv")
df.head()

               Company Name  Symbol          ISIN  Listing Price Date Listed
0         AIRTEL MALAWI PLC  AIRTEL  MWAIRT001156          12.69   24-Feb-20
1       BLANTYRE HOTELS PLC     BHL  MWBHL0010029           0.84   25-Mar-97
2              FDH BANK PLC    FDHB  MWFDHB001166          10.00   03-Aug-20
3  FMB CAPITAL HOLDINGS PLC   FMBCH  MWFMB0010138          45.01   18-Sep-17
4       ICON PROPERTIES PLC    ICON  MWICON001146           8.75   21-Jan-19

In [9]:
df=pd.read_csv( r"C:\Users\Geoffrey-RISA\Documents\GitHub\AIMS-DSCBI-WEEK-3\mse-api-assignment-Geo\data\master_csv\site_data.csv")
df.head()
ids={}
for ticker, id in zip(df['Company Name'].values,df['ISIN'].values):
    ids[ticker]=id
df_prices['counter_id']=df_prices['name'].apply(lambda x:ids[x])
#df_prices.head()

prices={}
for ticker, price in zip(df['Company Name'].values,df['Listing Price'].values):
    prices[ticker]=price
df_prices['open_mwk']=df_prices['name'].apply(lambda x:prices[x])
df_prices.head()

,Unnamed: 0,counter_id,daily_range_high,daily_range_low,ticker,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,...,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time,name,open_mwk
0,0,MWAIRT001156,138.97,137.94,AIRTEL,0,137.96,138.54,137.98,79004.0,...,2.81,35.53,47.26,1517780,42722.11,1.100000e+10,9/19/2025,14:37:47,AIRTEL MALAWI PLC,12.69
1,1,MWBHL0010029,15.02,15.02,BHL,15.02,0,15.02,15.02,7042.0,...,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,9/19/2025,14:37:47,BLANTYRE HOTELS PLC,0.84
2,2,MWFDHB001166,637.95,637.91,FDHB,635,637.92,637.95,637.93,101411.0,...,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,9/19/2025,14:37:47,FDH BANK PLC,10.00
3,3,MWFMB0010138,1897.99,1897.99,FMBCH,1897.99,0,1897.99,1897.99,15133.0,...,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,9/19/2025,14:37:47,FMB CAPITAL HOLDINGS PLC,45.01
4,4,MWICON001146,17.94,17.94,ICON,0,17.94,17.94,17.94,18168.0,...,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,9/19/2025,14:37:47,ICON PROPERTIES PLC,8.75

In [10]:
#Extract only the required fields
df_prices=df_prices[['counter_id','trade_date','open_mwk','daily_range_high', 'daily_range_low','today_closing_price','volume_traded' ]]
df_prices.columns=['counter_id','trade_date','open_mwk','high_mwk','low_mwk','close_mwk','volume']

In [11]:
df_prices.head()

     counter_id trade_date  open_mwk  high_mwk  low_mwk close_mwk    volume
0  MWAIRT001156  9/19/2025     12.69    138.97   137.94    137.98   79004.0
1  MWBHL0010029  9/19/2025      0.84     15.02    15.02     15.02    7042.0
2  MWFDHB001166  9/19/2025     10.00    637.95   637.91    637.93  101411.0
3  MWFMB0010138  9/19/2025     45.01   1897.99  1897.99   1897.99   15133.0
4  MWICON001146  9/19/2025      8.75     17.94    17.94     17.94   18168.0

In [12]:
# Database connection setup using environment variables
def get_engine():
    """Create and return a SQLAlchemy engine using environment variables."""
    db_url = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
    engine = create_engine(db_url)
    return engine

In [13]:
# Load database connection parameters from environment variables
PGHOST = os.getenv('PGHOST')
PGPORT = os.getenv('PGPORT')
PGDATABASE = os.getenv('PGDATABASE')
PGUSER = os.getenv('PGUSER')
PGPASSWORD = os.getenv('PGPASSWORD')
connection_string = f"postgresql+psycopg2://{PGUSER}:{PGPASSWORD}@{PGHOST}:{PGPORT}/{PGDATABASE}"
print("Connection psql string:", connection_string)

Connection psql string: postgresql+psycopg2://postgres:@localhost:5432/mse_db

In [1]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, text

# Load environment variables
load_dotenv()

def setup_database():
    """Setup database connection and create table"""
    
    # Method 1: Use DATABASE_URL from .env
    DATABASE_URL = os.getenv('DATABASE_URL')
    
    # Method 2: If DATABASE_URL not set, construct it
    if not DATABASE_URL:
        DB_HOST = os.getenv('PGHOST', 'localhost')
        DB_PORT = os.getenv('PGPORT', '5432')
        DB_NAME = os.getenv('PGDATABASE', 'mse_db')
        DB_USER = os.getenv('PGUSER', 'geo')
        DB_PASSWORD = os.getenv('PGPASSWORD', '')
        
        password_part = f":{DB_PASSWORD}" if DB_PASSWORD else ""
        DATABASE_URL = f"postgresql://{DB_USER}{password_part}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
    
    print(f"Using connection: {DATABASE_URL.split('@')[0]}@...")  # Hide full URL
    
    try:
        # Create engine
        engine = create_engine(DATABASE_URL, pool_pre_ping=True)
        
        # Test connection
        with engine.connect() as conn:
            db_info = conn.execute(text("SELECT current_database(), current_user;"))
            db_name, user = db_info.fetchone()
            print(f"✅ Connected to database: {db_name} as user: {user}")
        
        # Create table
        query = """
        CREATE TABLE IF NOT EXISTS counters (
            counter_id TEXT PRIMARY KEY,
            ticker TEXT NOT NULL,
            name TEXT NOT NULL,
            listing_price REAL NOT NULL,
            date_listed DATE NOT NULL
        );
        """
        
        with engine.begin() as conn:
            conn.execute(text(query))
        
        print("✅ Table 'counters' created successfully.")
        return engine
        
    except Exception as e:
        print(f"❌ Error: {e}")
        return None

# Run the setup
engine = setup_database()

Using connection: postgresql://geo@...
✅ Connected to database: mse_db as user: geo
✅ Table 'counters' created successfully.